# Used to deploy to testnets
export HDWALLET_MNEMONIC=''

export PRIVATE_KEY=''

export BUYER_1_PRIVATE_KEY=""
export BUYER_2_PRIVATE_KEY=""
export BUYER_3_PRIVATE_KEY=""
export BUYER_4_PRIVATE_KEY=""

# Used to deploy to testnets
export INFURA_API_KEY='bdeeff69216149ef9fcfe08236df0b7c'

# Used to deploy on Arbitrum if RPC used is not Infura
export ARBITRUM_GOERLI_RPC_URL=''

# Used to deploy on Optimism if RPC used is not Infura
export OPTIMISM_GOERLI_RPC_URL=''

# Used to deploy on Mumbai if RPC used is not Infura
export MUMBAI_RPC_URL=''

# Used for verifying contracts on Etherscan
export ETHERSCAN_API_KEY='H6K3XE21ZWQE3IRRPQ1STMUSUJU7V48VF4'

# bscscan
# export ETHERSCAN_API_KEY='G129P7WVGZ265U5MMDD31RPX2S57987YBA' 
# export BSCRSCAN_API_KEY='G129P7WVGZ265U5MMDD31RPX2S57987YBA'

# Used for verifying contracts on Polygonscan
export POLYGONSCAN_API_KEY=''

# Used for verifying contracts on Snowtrace
export SNOWTRACE_API_KEY=''

# Used for verifying contracts on Arbitrum Etherscan
export ARB_ETHERSCAN_API_KEY=''

# Used for verifying contracts on Optimism Etherscan
export OP_ETHERSCAN_API_KEY=''

# Required for forking
export ALCHEMY_URL=''
export FORK_ENABLED=''

# Used to hide deploy logs
export HIDE_DEPLOY_LOG=''

# Used to generate a gas usage report
export REPORT_GAS=''
export COINMARKETCAP_API_KEY=''

# addresses to disburse tokens to
export DISBURSE_ADDRESSES='0x1234,0xabcd'
